  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  .blue {

    background-color: blue;
    color: white;
  }
  .image {
    background-color: white;
    color: black;
    width: 40%;
    border-radius: 50px;
    padding: 10px;
  } 
  .mobilenet {
    background-color: rgb(47, 212, 47);
    color: black;
    width: 100px;
  }
